/* You can add global styles to this file, and also import other style files */
$main-color: #9191de;

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  /* font-size: 14px; */
  // line-height: 1.42857143;
  // color: #6f6f6f;
  margin: 0;
}
